// llm_chat_message_list.scss

.o_LLMChatMessageList {
    padding-bottom: 1rem;
    
    &_dateSeparator {
        position: relative;
        margin: 2rem 0;
        
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $o-gray-300;
            z-index: 0;
        }
        
        .badge {
            position: relative;
            z-index: 1;
            font-weight: normal;
            font-size: 0.75rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
    }
    
    &_empty {
        color: $o-gray-600;
    }
}
